$ipad-width: 768px;

body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Open Sans', sans-serif;
}


@import "helpers";
@import "layout";
@import "blocks/try";
@import "blocks/cloth";
@import "blocks/vendor-override";
@import "blocks/avatar";
@import "blocks/cloth-type";
@import "blocks/catalog";
@import "blocks/order";
@import "blocks/top-slider";
@import "blocks/info";

@import "blocks/scroll-panel";
@import "blocks/scroll-blocks/greeting";




.headerOffset {
  padding-top: 61px;
}

@media (min-width: 768px) {
  .headerOffset {
    padding-top: 120px;
  }
}

.headerOffset.-small {
  padding-top: 50px;
}

.-loading {
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background:  rgba(0, 0, 0, 0.67) url('../img/big-loader.svg') no-repeat center center;
    z-index: 999;
    content: ' ';
  }
}

